html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@keyframes fadeInRight {
    from {
        transform: translate3d(-40px, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    from {
        transform: translate3d(-40px, 0, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animatedFadeInRight {
    opacity: 0
}

.fadeInRight {
    opacity: 0;
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
}

#container1 {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 635px) {
    #container1 {
        flex-direction: column;
    }
}

#logo {
    margin-top: 14%;
}

#tag {
    margin-top: 12%;
    font-size: 7vw;
    color: midnightblue;
    text-align: center
}

#about_nav {
    font-size: xx-large;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#demos_nav {
    font-size: xx-large;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#heading1 {
    color: white;
}

#heading2 {
    color: white;
}

.box {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.box:hover .image {
    opacity: 0.3;
}

.box:hover .middle {
    opacity: 1;
}

.butn {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 10px 28px;
    margin: 0px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.demo {
    border-color: #4CAF50;
    color: green;
}

.demo:hover {
    background-color: #4CAF50;
    color: white;
}

.github {
    border-color: #000000;
    color: #000000
}

.github:hover {
    background: #000000;
    color: white;
}
