body {
    padding: 40px;
    overflow-x: hidden;
}

#navitems {
    margin-left: 800px;
}

.navbar {
    min-height: 10px !important
}

.navindi {
    padding-left: 30px;
}

#mega {
    display: flex;
    flex-direction: column;
}

#container1 {
    display: flex;
    flex-direction: row;
}

#logo {
    margin-top: 2.5%;
    margin-left: 3%;
}

#tag {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2.5em;
    color: midnightblue;
    text-align: center;
}

#about {
    height: fit-content;
    width: 1425px;
    margin-top: 15px;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-left: -40px;
    padding-left: 100px;
    background-color: #4287f5;
}

#heading1 {
    color: white;
}

#demos {
    height: fit-content;
    width: 106%;
    margin-top: 10px;
    padding-top: 2%;
    margin-left: -40px;
    padding-left: 100px;
    background-color: #eb7734;
    padding-bottom: 2%;
    margin-bottom: -3%;
}

#heading2 {
    color: white;
}

.box {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.box:hover .image {
    opacity: 0.3;
}

.box:hover .middle {
    opacity: 1;
}

.butn {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 10px 28px;
    margin: 0px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.demo {
    border-color: #4CAF50;
    color: green;
}

.demo:hover {
    background-color: #4CAF50;
    color: white;
}

.github {
    border-color: #000000;
    color: #000000
}

.github:hover {
    background: #000000;
    color: white;
}